<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><h2>Employee Management</h2></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/update-employee"
          >Update <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item">
        <a routerLink="/self-info" class="nav-link">View</a>
      </li>

      <li class="nav-item">
        <a routerLink="/login" class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>

    <form
      class="form-inline my-2 my-lg-0"
      [formGroup]="searchForm"
      (ngSubmit)="onSubmit()"
    >
      <input
        formControlName="search"
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search Employee"
        aria-label="Search"
      />
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
        [disabled]="!searchForm.valid"
      >
        Search
      </button>
    </form>
  </div>
</nav>
